absl-py==2.1.0
aeppl==0.0.31
aesara==2.7.3
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.2
analytics-python==1.4.post1
anyio==3.7.1
anytree==2.8.0
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arviz==0.21.0
asn1crypto==1.5.1
asttokens==3.0.0
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
backoff==1.10.0
bcrypt==4.3.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
bokeh==2.4.0
branca==0.8.1
brotli==1.1.0
cachetools==5.5.2
cairocffi==1.7.1
cairosvg==2.5.2
camelot-py==0.10.1
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==3.0.4
charset-normalizer==2.1.1
click-plugins==1.1.1
click==8.1.8
cligj==0.7.2
cloudpickle==3.1.1
cmake==3.31.6
cmudict==1.0.32
comm==0.2.2
confection==0.1.5
cons==0.4.6
contourpy==1.3.1
countryinfo==0.1.2
cryptography==3.4.8
cssselect2==0.8.0
cycler==0.12.1
cymem==2.0.11
cython==0.29.36
databricks-sql-connector==0.9.1
debugpy==1.8.13
decorator==4.4.2
defusedxml==0.7.1
dlib==19.24.2
dnspython==2.7.0
docx2txt==0.8
einops==0.3.2
email-validator==2.2.0
entrypoints==0.4
et-xmlfile==2.0.0
etuples==0.3.9
exchange-calendars==4.10
executing==2.2.0
faker==8.13.2
fastapi==0.111.0
fastjsonschema==2.21.1
fastprogress==1.0.3
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock==3.18.0
flask-cachebuster==1.0.0
flask-cors==5.0.1
flask-login==0.6.3
flask==3.1.0
folium==0.12.1
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.5.0
future==1.0.0
fuzzywuzzy==0.18.0
geographiclib==1.52
geopy==2.2.0
gradio==2.2.15
graphviz==0.17
gtts==2.2.3
h11==0.14.0
h2==4.2.0
h5netcdf==1.6.1
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
hypercorn==0.14.3
hyperframe==6.1.0
idna==3.10
imageio-ffmpeg==0.6.0
imageio==2.37.0
imgkit==1.2.2
importlib-metadata==8.6.1
importlib-resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython-genutils==0.2.0
ipython==9.0.2
isodate==0.7.2
itsdangerous==2.2.0
jax==0.2.28
jedi==0.19.2
jinja2==3.1.6
joblib==1.4.2
json5==0.10.0
jsonpickle==4.0.2
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
jupyter-client==7.4.9
jupyter-core==5.1.3
jupyter-server==1.23.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.19.0
jupyterlab==3.4.8
keras==2.6.0
kerykeion==2.1.16
kiwisolver==1.4.8
korean-lunar-calendar==0.3.1
langcodes==3.5.0
lazy-loader==0.4
librosa==0.8.1
lit==18.1.8
logical-unification==0.4.6
loguru==0.5.3
lxml==5.3.1
markdown2==2.5.3
markdownify==0.9.3
markupsafe==3.0.2
matplotlib-inline==0.1.7
matplotlib-venn==0.11.6
matplotlib==3.6.3
minikanren==1.0.3
mistune==3.1.3
mizani==0.10.0
mne==0.23.4
monotonic==1.6
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
mtcnn==0.1.1
multidict==6.2.0
multipledispatch==1.0.0
munch==4.0.0
murmurhash==1.0.12
mutagen==1.45.1
nashpy==0.0.35
nbclassic==0.4.5
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook-shim==0.2.4
notebook==6.5.1
numba==0.61.0
numexpr==2.10.2
numpy-financial==1.0.0
odfpy==1.4.1
openpyxl==3.0.10
opt-einsum==3.4.0
orjson==3.10.15
oscrypto==1.3.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==3.5.1
parso==0.8.4
patsy==1.0.1
pdf2image==1.16.3
pdfkit==0.6.1
pdfminer.six==20220319
pdfplumber==0.6.2
pdfrw==0.4
pexpect==4.9.0
platformdirs==4.3.7
plotly==5.3.0
plotnine==0.10.1
pluggy==1.5.0
pooch==1.8.2
preshed==3.0.9
priority==2.0.0
proglog==0.1.10
prometheus-client==0.21.1
prompt-toolkit==3.0.50
pronouncing==0.2.0
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pycountry==20.7.3
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.22.0
pydantic==2.9.2
pydot==1.4.2
pydub==0.25.1
pydyf==0.11.0
pygments==2.19.1
pyjwt==2.10.1
pylog==1.1
pyluach==2.2.0
pymc==4.0.1
pynacl==1.5.0
pyopenssl==21.0.0
pypandoc==1.6.3
pyparsing==3.2.1
pypdf2==1.28.6
pyphen==0.17.2
pyproj==3.7.1
pyprover==0.5.6
pyshp==2.3.1
pyswisseph==2.10.3.2
pytesseract==0.3.8
pytest==6.2.5
pyth3==0.7
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-pptx==0.6.21
pyttsx3==2.90
pytz==2025.1
pywavelets==1.8.0
pyxlsb==1.0.8
pyyaml==6.0.2
pyzbar==0.1.8
pyzmq==26.3.0
qrcode==7.3
rarfile==4.0
rdflib==6.0.0
referencing==0.36.2
regex==2024.11.6
requests==2.31.0
resampy==0.4.3
rpds-py==0.23.1
scipy==1.15.2
scikit-image==0.25.2
scikit-learn
seaborn==0.11.2
send2trash==1.8.3
setuptools==65.5.1
shap==0.39.0
six==1.17.0
slicer==0.0.7
smart-open==7.1.0
sniffio==1.3.1
snuggs==1.4.7
soundfile==0.10.2
soupsieve==2.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.5
srsly==2.5.1
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.4
svglib==1.1.0
svgwrite==1.4.1
sympy==1.8
tabula==1.0.5
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.15.3
thinc==8.2.5
threadpoolctl==3.6.0
thrift==0.21.0
tifffile==2025.3.13
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
tornado==6.4.2
tqdm==4.64.0
traitlets==5.14.3
trimesh==3.9.29
typer==0.15.2
typing-extensions==4.10.0
ujson==5.10.0
urllib3==1.26.20
uvicorn==0.19.0
uvloop==0.21.0
wand==0.6.13
wasabi==1.1.3
watchfiles==1.0.4
wcwidth==0.2.13
weasyprint==53.3
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.3
werkzeug==3.1.3
wheel==0.45.1
wordcloud==1.9.2
wsproto==1.2.0
xarray-einstats==0.8.0
xarray==2024.3.0
xlsxwriter==3.2.2
xml-python==0.4.3
yarl==1.18.3
zipp==3.21.0
zopfli==0.2.3.post1