{
  "openapi": "3.1.0",
  "info": {
    "title": "Microsoft Graph API - OneNote",
    "version": "v1.0",
    "description": "API for interacting with Microsoft OneNote via Microsoft Graph"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com"
    }
  ],
  "paths": {
    "/v1.0/me/onenote/notebooks": {
      "get": {
        "operationId": "listNotebooks",
        "summary": "List all notebooks",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Limits the number of messages returned in a single response."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "id,displayName,lastModifiedDateTime,links"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fetch sections for the notebook in one API call: sections,pages"
          }
        ]
      },
      "post": {
        "operationId": "createNotebook",
        "summary": "Create a new notebook",
        "tags": ["Notebooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "The name of the new notebook"
                  }
                },
                "required": ["displayName"]
              }
            }
          }
        }
      }
    },
    "/v1.0/me/onenote/notebooks/{notebookId}/sections": {
      "get": {
        "operationId": "listSections",
        "summary": "List all sections in a notebook",
        "tags": ["Sections"],
        "parameters": [
          {
            "name": "notebookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the notebook whose sections are to be listed"
          }
        ]
      },
      "post": {
        "operationId": "createSection",
        "summary": "Create a section in a notebook",
        "tags": ["Sections"],
        "parameters": [
          {
            "name": "notebookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the notebook"
          }
        ]
      }
    },
    "/v1.0/me/onenote/sections/{sectionId}/pages": {
      "get": {
        "operationId": "listPages",
        "summary": "List all pages in a section",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the section whose pages are to be listed"
          }
        ]
      },
      "post": {
        "operationId": "createPage",
        "summary": "Create a new page in a section",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the section where the page will be created"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Content of the page in HTML format",
          "content": {
            "application/xhtml+xml": {
              "schema": {
                "type": "string",
                "example": "<html><head><title>A New Page</title></head><body>Content of the new page.</body></html>"
              }
            }
          }
        }
      }
    },
    "/v1.0/me/onenote/pages/{pageId}": {
      "get": {
        "operationId": "getPage",
        "summary": "Retrieve a specific page",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the page to retrieve"
          }
        ]
      },
      "delete": {
        "operationId": "deletePage",
        "summary": "Delete a specific page",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the page to delete"
          }
        ]
      }
    },
    "/v1.0/me/onenote/pages/{pageId}/content": {
      "patch": {
        "operationId": "updatePage",
        "summary": "Update content of a specific page",
        "tags": ["Pages"],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the page to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON containing the commands to update the page",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": ["replace", "append", "delete", "insert", "prepend"],
                      "description": "The type of operation to perform"
                    },
                    "target": {
                      "type": "string",
                      "enum": [
                        "title",
                        "body",
                        "div",
                        "img",
                        "object",
                        "ol",
                        "ul",
                        "table",
                        "p",
                        "li",
                        "h1",
                        "h2",
                        "h3",
                        "h4",
                        "h5",
                        "h6"
                      ],
                      "description": "The part of the page to target"
                    },
                    "position": {
                      "type": "string",
                      "enum": ["before", "after"],
                      "description": "Position relative to the target element"
                    },
                    "content": {
                      "type": "string",
                      "description": "The new title or content to insert"
                    }
                  },
                  "required": ["action", "target", "content"]
                }
              },
              "example": [
                {
                  "action": "replace",
                  "target": "title",
                  "content": "New title"
                },
                {
                  "action": "append",
                  "target": "body",
                  "position": "after",
                  "content": "<p>New paragraph content.</p>"
                }
              ]
            }
          }
        }
      },
      "get": {
        "operationId": "getPageContent",
        "summary": "Retrieve the content of a specific page",
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the page to retrieve content for"
          }
        ]
      }
    }
  }
}
