{
  "openapi": "3.0.0",
  "info": {
    "title": "Bing Web Search API",
    "version": "v7.0",
    "description": "The Bing Web Search API returns web search results for a given query."
  },
  "servers": [
    {
      "url": "https://api.bing.microsoft.com",
      "description": "Bing Web Search API server"
    }
  ],
  "paths": {
    "/v7.0/search": {
      "get": {
        "summary": "Search the web",
        "operationId": "crawl",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's search query string."
          },
          {
            "name": "answerCount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of answers that you want the response to include."
          },
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A 2-character country code of the country where the results come from."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "The number of search results to return in the response."
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter search results by their age."
          },
          {
            "name": "mkt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The market where the results come from."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The zero-based offset that indicates the number of search results to skip before returning results."
          },
          {
            "name": "promote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A comma-delimited list of answers that you want the response to include regardless of their ranking."
          },
          {
            "name": "responseFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A comma-delimited list of answers to include in the response."
          },
          {
            "name": "safeSearch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["Off", "Moderate", "Strict"],
              "default": "Moderate"
            },
            "description": "Used to filter webpages, images, and videos for adult content."
          },
          {
            "name": "setLang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to use for user interface strings."
          },
          {
            "name": "textDecorations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "A Boolean value that determines whether display strings in the results should contain decoration markers such as hit highlighting characters."
          },
          {
            "name": "textFormat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["Raw", "HTML"],
              "default": "HTML"
            },
            "description": "The type of markers to use for text decorations (see the textDecorations query parameter)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_type": {
                      "type": "string"
                    },
                    "queryContext": {
                      "type": "object",
                      "properties": {
                        "originalQuery": {
                          "type": "string"
                        },
                        "askUserForLocation": {
                          "type": "boolean"
                        }
                      }
                    },
                    "webPages": {
                      "type": "object",
                      "properties": {
                        "webSearchUrl": {
                          "type": "string"
                        },
                        "totalEstimatedMatches": {
                          "type": "integer"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "isFamilyFriendly": {
                                "type": "boolean"
                              },
                              "displayUrl": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "dateLastCrawled": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "cachedPageUrl": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "isNavigational": {
                                "type": "boolean"
                              },
                              "noCache": {
                                "type": "boolean"
                              },
                              "siteName": {
                                "type": "string"
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "datePublished": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "datePublishedDisplayText": {
                                "type": "string"
                              },
                              "primaryImageOfPage": {
                                "type": "object",
                                "properties": {
                                  "thumbnailUrl": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "integer"
                                  },
                                  "height": {
                                    "type": "integer"
                                  },
                                  "sourceWidth": {
                                    "type": "integer"
                                  },
                                  "sourceHeight": {
                                    "type": "integer"
                                  },
                                  "imageId": {
                                    "type": "string"
                                  }
                                }
                              },
                              "richFacts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "object",
                                      "properties": {
                                        "text": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "text": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "hint": {
                                      "type": "object",
                                      "properties": {
                                        "text": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "readLink": {
                          "type": "string"
                        },
                        "webSearchUrl": {
                          "type": "string"
                        },
                        "isFamilyFriendly": {
                          "type": "boolean"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "webSearchUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "datePublished": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "contentUrl": {
                                "type": "string"
                              },
                              "hostPageUrl": {
                                "type": "string"
                              },
                              "contentSize": {
                                "type": "string"
                              },
                              "encodingFormat": {
                                "type": "string"
                              },
                              "hostPageDisplayUrl": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              },
                              "thumbnail": {
                                "type": "object",
                                "properties": {
                                  "width": {
                                    "type": "integer"
                                  },
                                  "height": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "relatedSearches": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "displayText": {
                                "type": "string"
                              },
                              "webSearchUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "rankingResponse": {
                      "type": "object",
                      "properties": {
                        "mainline": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "answerType": {
                                    "type": "string"
                                  },
                                  "resultIndex": {
                                    "type": "integer"
                                  },
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}