{
  "openapi": "3.0.0",
  "info": {
    "title": "Bing Web Search API",
    "version": "v7.0",
    "description": "The Bing Web Search API returns web search results for a given query."
  },
  "servers": [
    {
      "url": "https://api.bing.microsoft.com",
      "description": "Bing Web Search API server"
    }
  ],
  "paths": {
    "/v7.0/search": {
      "get": {
        "summary": "Search the web",
        "operationId": "crawl",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's search query string."
          },
          {
            "name": "answerCount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The number of answers that you want the response to include."
          },
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A 2-character country code of the country where the results come from."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "The number of search results to return in the response."
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter search results by their age."
          },
          {
            "name": "mkt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The market where the results come from."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The zero-based offset that indicates the number of search results to skip before returning results."
          },
          {
            "name": "promote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A comma-delimited list of answers that you want the response to include regardless of their ranking."
          },
          {
            "name": "responseFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A comma-delimited list of answers to include in the response."
          },
          {
            "name": "safeSearch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ],
              "default": "Moderate"
            },
            "description": "Used to filter webpages, images, and videos for adult content."
          },
          {
            "name": "setLang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to use for user interface strings."
          },
          {
            "name": "textDecorations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "A Boolean value that determines whether display strings in the results should contain decoration markers such as hit highlighting characters."
          },
          {
            "name": "textFormat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Raw"
              ],
              "default": "Raw"
            },
            "description": "Required"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queryContext": {
                      "type": "object",
                      "properties": {
                        "originalQuery": {
                          "type": "string"
                        }
                      }
                    },
                    "webPages": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "displayUrl": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "cachedPageUrl": {
                                "type": "string"
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "url",
                              "displayUrl",
                              "snippet",
                              "cachedPageUrl"
                            ]
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "contentUrl": {
                                "type": "string"
                              },
                              "hostPageUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "thumbnailUrl",
                              "contentUrl",
                              "hostPageUrl"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "queryContext",
                    "webPages",
                    "images"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}